<template name='question'>
  {{#with questions}}
    {{>displayQuestion}}
  {{/with}}

<button {{b "click: questionSuivante, hide: boutonSwitch "}} class="button button-block button-balanced icon-right ion-chevron-right">
  Question Suivante
</button>

<button {{b "click: dernierQuestion, visible: boutonSwitch"}} class="button button-block button-positive icon-right ion-paper-airplane">
  Calule de l'estimation
</button>  

</template>

<Template name='displayQuestion'>
      <h3><span {{b "text: text"}}></span></h3>
  <div class="list card">
    <div class="item item-divider">
      <span {{b "text: parent.typeChoix"}}></span>
    </div>  
    {{#each this.reponse}}
    <label class="item item-icon-right">
      <span {{b "text: this.text"}}></span>
      <i class="icon ion-checkmark"> </i>
    </label>
    {{/each}}
  </div>
</Template>