<template name='question'>
  {{#with questions}}
  <h3><span {{b "text: this.text"}}></span></h3>
  <div class="list card">
    <div class="item item-divider">
      Choix unique:
    </div>
    {{#each this.reponse}}
      {{>choixReponse}}
    {{/each}}
  </div>
  {{/with}}

<button {{b "click: questionSuivante, hide: boutonSwitch "}} class="button button-block button-balanced icon-right ion-chevron-right">
  Question Suivante
</button>

<button {{b "click: dernierQuestion, visible: boutonSwitch"}} class="button button-block button-positive icon-right ion-paper-airplane">
  Calule de l'estimation
</button>  

</template>


<Template name='choixReponse'>
    <label {{b "click: select"}} class="item item-icon-right">
      <span {{b "text: this.text"}}></span>
      <i {{b "if: isSelected" }} class="icon ion-checkmark"> </i>
    </label>
</Template>